body {
  font-family: sans-serif;
  padding: 60px;
  text-align: center;
}

h1 {
  font-weight: 100;
  font-size: 40;
}

.box {
  padding: 10px 35px;
  background-color: #000;
  color: #fff;
  display: inline-block;
  border-radius: 30px;
}